<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.phh.treble.overlay.disableautopowermodes">

    <overlay
        android:targetPackage="android"
        android:isStatic="true"
        android:priority="1000"
        android:requiredSystemPropertyName="ro.product.vendor.manufacturer,ro.product.vendor.model"
        android:requiredSystemPropertyValue="+(?i)^(DuoQin|Qin)$,+(?i)F2(1|2)" />

    <application
        android:label="TrebleDisableAutoPowerModes"
        android:hasCode="false" />
</manifest>
